body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-item:nth-child(odd) {
  background: #f3f3f3;
}
.contact-item:nth-child(even) {
  background: #d7d7d7;
}
.contact-item:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px gray;
  z-index: 1;
}
